/* Resistor colors taken from resistor photos */
$black-band: #161619;
$brown-band: #4C231F;
$red-band: #A71E25;
$orange-band: #DB5C24;
$yellow-band: #E7C735;
$green-band: #307D4F;
$blue-band: #17467C;
$violet-band: #6A2C6A;
$grey-band: #77737F;
$white-band: #DCD4D1;
$gold-band: #CBA254;
$silver-band: #A8AAAD;
$tan-body: #E8C599;
$dark-green-body: #2E645A;
$light-green-body: #7DC0A6;
$light-blue-body: #74C0D6;
/* wire and solder */
$metal: #BCB8B0;
$pcb-green: #167851;
$pcb-gold: #d6bc71;
$red-led-off: red;
$red-led-on: yellow;

body {
    background-color: $pcb-green;
    color: $pcb-gold;
}

#resistor-body {
    fill: $tan-body;
}


.container {
    position: relative;
    width: fit-content;
}

/* Restyle the radio buttons */

input[type=radio] {
  display: none;
}


label {

  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;

}

/* Band Color Menu styles */
#band-color-menu {
    background-color: $pcb-green;
    border: 2px solid black;
    width: fit-content;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Position each Band Color Menu to the right of the band it controls */
#band-color-menu.band1 {
    left: 19.7%;
}

#band-color-menu.band2 {
    left: 32.1%;
}

#band-color-menu.band3 {
    left: 44.4%;
}

#band-color-menu.band4 {
    left: 56.7%;
}

#band-color-menu.band5 {
    left: 69.1%;
}

#band-color-menu.band6 {
    left: 88.0%;
}

.color-menu-options {
    display: block;
}

/* Indicate that these are clickable */
.resistor-band, button {
  cursor: pointer;
}
/* Color the resistor bands */
.blank {
    fill: url("#blank-band");
}

.black {
    fill: $black-band;
}

.brown {
    fill: $brown-band;
}

.red {
    fill: $red-band;
}

.orange {
    fill: $orange-band;
}

.yellow {
    fill: $yellow-band;
}

.green {
    fill: $green-band;
}

.blue {
    fill: $blue-band;
}

.violet {
    fill: $violet-band;
}

.grey {
    fill: $grey-band;
}

.white {
    fill: $white-band;
}

.gold {
    fill: url("#gold-glitter");
}

.silver {
    fill: url("#silver-glitter");
}
/* Calc Box styles */
.calc-boxes {
    list-style: none;
    margin: 0;
    padding: 0;

    .calc-box {

        padding: 0.25em;
        border: 2px solid black;
        min-width: 5em;
        height: 1em;
    }
    .calc-list-entry {
      display: inline-block;
      padding: .25rem;
      margin: 0.25rem;
    }
}
