@import 'defs';
@import 'radio-buttons';
@import 'resistor';
@import 'number-and-reset';
@import 'calculation';
@import 'color-menu';

body {
    background-color: $pcb-green;
    color: $pcb-printing;
    font-family: 'osifont';
    line-height: 1.5;
    padding: 1rem;
}

.title {
  margin: 0 0 1rem 0;
}


button {
  cursor: pointer;
}

.section-title {
  padding: 0;
  margin: 0;
}
