/* Resistor colors taken from resistor photos */

$black-band: #161619;
$brown-band: #4C231F;
$red-band: #A71E25;
$orange-band: #DB5C24;
$yellow-band: #E7C735;
$green-band: #307D4F;
$blue-band: #17467C;
$violet-band: #6A2C6A;
$grey-band: #77737F;
$white-band: #DCD4D1;
$gold-band: #CBA254;
$silver-band: #A8AAAD;
/* Can I use css to get a glitter effect on these? maybe an svg filter? */
$tan-body: #E8C599;
$dark-green-body: #2E645A;
$light-green-body: #7DC0A6;
$light-blue-body: #74C0D6;
$wire: #BCB8B0;

/* add pcb-green and pcb-gold? */
body {
    background-color: white;
}

#resistor-body {
    fill: $tan-body;
}

/* Change to a blank-band pattern */
.blank {
    fill: url("#transparent");
}

.container {
    position: relative;
    width: fit-content;
}

#band-color-menu {
    background-color: white;
    border: 2px solid black;
    width: fit-content;
    padding: .5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#band-color-menu.band1 {
  left: 19.7%;
}
#band-color-menu.band2 {
  left: 32.1%;
}
#band-color-menu.band3 {
  left: 44.4%;
}
#band-color-menu.band4 {
  left: 56.7%;
}
#band-color-menu.band5 {
  left: 69.1%;
}
#band-color-menu.band6 {
  left: 88.0%;
}

.color-menu-options {
    display: block;
}

.black {
    fill: $black-band;
}

.brown {
    fill: $brown-band;
}

.red {
    fill: $red-band;
}

.orange {
    fill: $orange-band;
}

.yellow {
    fill: $yellow-band;
}

.green {
    fill: $green-band;
}

.blue {
    fill: $blue-band;
}

.violet {
    fill: $violet-band;
}

.grey {
    fill: $grey-band;
}

.white {
    fill: $white-band;
}

.gold {
    fill: $gold-band;
}

.silver {
    fill: $silver-band;
}
.calc-boxes {
  list-style: none;
  .calc-box {
    display: inline-block;
    margin: .5rem;
    padding: .25rem;
    border: 2px solid black;
    min-width: 7em;
  }
}
