/* Resistor colors taken from resistor photos */
/* wire and solder */
@font-face {
  font-family: 'osifont';
  src: url("/assets/fonts/osifont-webfont.woff2") format("woff2"), url("/assets/fonts/osifont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

font-face {
  font-family: 'screenmatrix';
  src: url("/assets/fonts/screenmatrix-webfont.woff2") format("woff2"), url("/assets/fonts/screenmatrix-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

input[type=radio] {
  display: none; }

label {
  cursor: pointer;
  position: relative;
  padding: 0  .3em 0 1.8em; }

label:before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: 0;
  top: 0;
  background-image: radial-gradient(circle, #5C050C 0%, #5C050C 50%, transparent 50%); }

input[type=radio]:checked + label:before {
  background-image: radial-gradient(circle, #fdbc2e 0%, #fa1915 50%, transparent 70%); }

#resistor-section {
  position: relative;
  width: fit-content;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 0 1rem 1rem 1rem;
  margin: 0 .5rem 1rem 0; }

#resistor-body {
  fill: #E8C599; }

#wire {
  fill: #919791; }

#through-hole-1,
#through-hole-2 {
  fill: #d6bc71; }

.resistor-band {
  cursor: pointer; }

.blank {
  fill: url("#blank-band"); }

.black {
  fill: #161619; }

.brown {
  fill: #4C231F; }

.red {
  fill: #A71E25; }

.orange {
  fill: #DB5C24; }

.yellow {
  fill: #E7C735; }

.green {
  fill: #307D4F; }

.blue {
  fill: #17467C; }

.violet {
  fill: #6A2C6A; }

.grey {
  fill: #77737F; }

.white {
  fill: #DCD4D1; }

.gold {
  fill: url("#gold-glitter"); }

.silver {
  fill: url("#silver-glitter"); }

/* This moves it down below the border, but I don't know why it overlaps here when it doesnt in the band color menus */
#band-number-menu label:before {
  top: 2px; }

#band-number-menu,
#reset-button {
  display: inline-block; }

#band-number-menu {
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: fit-content;
  padding: 0.2rem .5rem 1rem 1rem;
  margin: 0 1rem 1rem 0;
  display: inline-block; }

.band-number-button {
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  color: #15723b;
  font-weight: bold;
  background-clip: content-box;
  margin: 0.25rem 0.5rem 0 0;
  font-size: 1.25rem;
  display: inline-block; }

#reset-button {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  background-clip: padding-box;
  color: #15723b;
  font-family: 'osifont';
  font-weight: bold;
  border: 2px solid rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  vertical-align: bottom;
  margin: 0 0.5rem 1rem 0; }

.calculation-section {
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: fit-content;
  margin: 0 1rem 1rem 0;
  padding: .2rem 0 1rem 1rem; }

.calc-box-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.calc-label {
  padding: 0;
  margin: 0 0 .5rem 0; }

.calc-list-entry {
  display: inline-block;
  margin: 0; }

.calc-box {
  padding: .2em .2em 0 .2em;
  border: 10px solid black;
  width: 6em;
  font-family: 'screenmatrix';
  font-size: 2rem;
  line-height: 1;
  height: 1em;
  color: #464646;
  margin: 0 1rem 0 0; }

.calc-box-active {
  background-color: #d0d0d0; }

.calc-box-inactive {
  background-color: #59755e; }

/* Band color menu and buttons */
#band-color-menu {
  background-color: #15723b;
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px 5px black;
  width: fit-content;
  height: fit-content;
  padding: 0 .5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.band-color-button {
  border: 2px solid rgba(255, 255, 255, 0.8);
  margin: 0.5em 0;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0; }

/* Position each Band Color Menu to the right of the band it controls */
#band-color-menu.band1 {
  left: 28.6%; }

#band-color-menu.band2 {
  left: 37.5%; }

#band-color-menu.band3 {
  left: 46.4%; }

#band-color-menu.band4 {
  left: 55.3%; }

#band-color-menu.band5 {
  left: 64.2%; }

#band-color-menu.band6 {
  left: 77.9%; }

.color-menu-options {
  display: block; }

/* Indicate that these are clickable */
.black-label {
  background-color: #161619; }

.brown-label {
  background-color: #4C231F; }

.red-label {
  background-color: #A71E25; }

.orange-label {
  background-color: #DB5C24; }

.yellow-label {
  background-color: #E7C735;
  color: black; }

.green-label {
  background-color: #307D4F; }

.blue-label {
  background-color: #17467C; }

.violet-label {
  background-color: #6A2C6A; }

.grey-label {
  background-color: #77737F; }

.white-label {
  background-color: #DCD4D1;
  color: black; }

.gold-label {
  background: url(https://jessawright.github.io/resistor-decoder/assets/images/egg-shell-75a7a84a76f0b6679b46fc53ab761149.png) #CBA254; }

.silver-label {
  background: url(https://jessawright.github.io/resistor-decoder/assets/images/egg-shell-75a7a84a76f0b6679b46fc53ab761149.png) #A8AAAD;
  color: black; }

body {
  background-color: #15723b;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'osifont';
  line-height: 1.5;
  padding: 1rem; }

.title {
  margin: 0 0 1rem 0; }

button {
  cursor: pointer; }

.section-title {
  padding: 0;
  margin: 0; }
