/* Resistor colors taken from resistor photos */
/* Can I use css to get a glitter effect on these? maybe an svg filter? */
/* add pcb-green and pcb-gold? */
body {
  background-color: white; }

#resistor-body {
  fill: #E8C599; }

/* Change to a blank-band pattern */
.blank {
  fill: url("#blank-band"); }

.container {
  position: relative;
  width: fit-content; }

#band-color-menu {
  background-color: white;
  border: 2px solid black;
  width: fit-content;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

#band-color-menu.band1 {
  left: 19.7%; }

#band-color-menu.band2 {
  left: 32.1%; }

#band-color-menu.band3 {
  left: 44.4%; }

#band-color-menu.band4 {
  left: 56.7%; }

#band-color-menu.band5 {
  left: 69.1%; }

#band-color-menu.band6 {
  left: 88.0%; }

.color-menu-options {
  display: block; }

.black {
  fill: #161619; }

.brown {
  fill: #4C231F; }

.red {
  fill: #A71E25; }

.orange {
  fill: #DB5C24; }

.yellow {
  fill: #E7C735; }

.green {
  fill: #307D4F; }

.blue {
  fill: #17467C; }

.violet {
  fill: #6A2C6A; }

.grey {
  fill: #77737F; }

.white {
  fill: #DCD4D1; }

.gold {
  fill: #CBA254; }

.silver {
  fill: #A8AAAD; }

.calc-boxes {
  list-style: none; }
  .calc-boxes .calc-box {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.25rem;
    border: 2px solid black;
    min-width: 7em; }
