/* Resistor colors taken from resistor photos */
/* wire and solder */
body {
  background-color: #167851;
  color: #d6bc71; }

#resistor-body {
  fill: #E8C599; }

.container {
  position: relative;
  width: fit-content;
  color: white; }

/* Restyle the radio buttons */
input[type=radio] {
  display: none;
  font-size: 1.25rem; }

label {
  cursor: pointer;
  position: relative;
  padding: 0.1em 0.25em 0.1em 1.8em;
  font-size: 1.25rem;
  color: white; }

label:before {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #fa1915; }

input[type=radio]:checked + label:before {
  background-image: radial-gradient(circle, #ffffff 0%, #fefe71 10%, #fa1915 75%);
  box-shadow: 0 0 0.5em #fa1915; }

#band-number-menu {
  margin: 0 0 2em; }
  #band-number-menu div {
    display: inline-block; }

/* Band Color Menu styles */
#band-color-menu {
  background-color: #167851;
  border: 2px solid black;
  width: fit-content;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  #band-color-menu div {
    border: 2px solid white;
    margin: 0.125em 0; }

/* Position each Band Color Menu to the right of the band it controls */
#band-color-menu.band1 {
  left: 19.7%; }

#band-color-menu.band2 {
  left: 32.1%; }

#band-color-menu.band3 {
  left: 44.4%; }

#band-color-menu.band4 {
  left: 56.7%; }

#band-color-menu.band5 {
  left: 69.1%; }

#band-color-menu.band6 {
  left: 88.0%; }

.color-menu-options {
  display: block; }

/* Indicate that these are clickable */
.resistor-band,
button {
  cursor: pointer; }

/* Color the resistor bands */
.blank {
  fill: url(#blank-band); }

.black {
  fill: #161619; }

.brown {
  fill: #4C231F; }

.red {
  fill: #A71E25; }

.orange {
  fill: #DB5C24; }

.yellow {
  fill: #E7C735; }

.green {
  fill: #307D4F; }

.blue {
  fill: #17467C; }

.violet {
  fill: #6A2C6A; }

.grey {
  fill: #77737F; }

.white {
  fill: #DCD4D1; }

.gold {
  fill: url(#gold-glitter); }

.silver {
  fill: url(#silver-glitter); }

.black-label {
  background-color: #161619; }

.brown-label {
  background-color: #4C231F; }

.red-label {
  background-color: #A71E25; }

.orange-label {
  background-color: #DB5C24; }

.yellow-label {
  background-color: #E7C735; }

.green-label {
  background-color: #307D4F; }

.blue-label {
  background-color: #17467C; }

.violet-label {
  background-color: #6A2C6A; }

.grey-label {
  background-color: #77737F; }

.white-label {
  background-color: #DCD4D1; }

.gold-label {
  background: url("/images/egg-shell.png") #CBA254; }

.silver-label {
  background: url("/images/egg-shell.png") #A8AAAD; }

/* Calc Box styles */
.calc-boxes {
  list-style: none;
  margin: 0;
  padding: 0; }
  .calc-boxes .calc-box {
    padding: 0.25em;
    border: 2px solid black;
    min-width: 5em;
    height: 1em; }
  .calc-boxes .calc-list-entry {
    display: inline-block;
    padding: 0.25rem;
    margin: 0.25rem; }
