/* Resistor colors taken from resistor photos */
/* wire and solder */
body {
  background-color: #167851;
  color: #d6bc71; }

#resistor-body {
  fill: #E8C599; }

.container {
  position: relative;
  width: fit-content; }

/* Restyle the radio buttons */
input[type=radio] {
  display: none; }

label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px; }

/* Band Color Menu styles */
#band-color-menu {
  background-color: #167851;
  border: 2px solid black;
  width: fit-content;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

/* Position each Band Color Menu to the right of the band it controls */
#band-color-menu.band1 {
  left: 19.7%; }

#band-color-menu.band2 {
  left: 32.1%; }

#band-color-menu.band3 {
  left: 44.4%; }

#band-color-menu.band4 {
  left: 56.7%; }

#band-color-menu.band5 {
  left: 69.1%; }

#band-color-menu.band6 {
  left: 88.0%; }

.color-menu-options {
  display: block; }

/* Indicate that these are clickable */
.resistor-band, button {
  cursor: pointer; }

/* Color the resistor bands */
.blank {
  fill: url("#blank-band"); }

.black {
  fill: #161619; }

.brown {
  fill: #4C231F; }

.red {
  fill: #A71E25; }

.orange {
  fill: #DB5C24; }

.yellow {
  fill: #E7C735; }

.green {
  fill: #307D4F; }

.blue {
  fill: #17467C; }

.violet {
  fill: #6A2C6A; }

.grey {
  fill: #77737F; }

.white {
  fill: #DCD4D1; }

.gold {
  fill: url("#gold-glitter"); }

.silver {
  fill: url("#silver-glitter"); }

/* Calc Box styles */
.calc-boxes {
  list-style: none;
  margin: 0;
  padding: 0; }
  .calc-boxes .calc-box {
    padding: 0.25em;
    border: 2px solid black;
    min-width: 5em;
    height: 1em; }
  .calc-boxes .calc-list-entry {
    display: inline-block;
    padding: .25rem;
    margin: 0.25rem; }
